
@{
    ViewData["Title"] = "Blacklist";
}

<div class="bg-blue">
<div class="wrapper">
<div class="menu">
    <ul class="menu__list-left">
        <li class="bg">
            <div class="bg__common bg-red"></div>
            <div class="bg__common bg-grey"></div>
            <div class="bg__common bg-green"></div>
        </li>
        <li class="user"><a href="index5.html">Пользователи</a></li>
    </ul>
    <ul class="menu__list-right">
        <li class="menu__login">Username</li>
        <li class="menu__exit"><a href="index.html" class="menu__exit-link">Выход</a></li>
    </ul>
</div>
<div class="catalog">
<div class="left-part">
    <div class="diagrams">
        <div class="diagr">
            <img src="../img/diagram2.png" alt="">
            <div class="vk">VK</div>
            <div class="twitter">Twitter</div>
            <div class="facebook">FB</div>
            <div class="instagram">Insta</div>
        </div>
        <ul class="source">
            <li class="source__item">Вк: <div class="percent percent-vk">53% <span class="count">(492 чел.)</span></div></li>
            <li class="source__item">Facebook: <div class="percent percent-fb">27% <span class="count">(251 чел.)</span></div></li>
            <li class="source__item">Instagram: <div class="percent percent-inst">12% <span class="count">(111 чел.)</span></div></li>
            <li class="source__item">Twitter: <div class="percent percent-twitter">8% <span class="count">(72 чел.)</span></div></li>
        </ul>
        <div class="diagr">
            <img src="../img/diagram2.png" alt=""> 
            <div class="positive">+</div>
            <div class="negative">-</div>
            <div class="neutral">*</div>
            <div class="uncertain"><>	</div>
        </div>
        <ul class="emotion-color">
            <li class="ec__item">Негативных: <div class="percent percent-negative">35% <span class="count">(324)</span></div></li>
            <li class="ec__item">Нейтральных: <div class="percent percent-neutral">28% <span class="count">(260)</span></div></li>
            <li class="ec__item">Позитивных: <div class="percent percent-positive">27% <span class="count">(251)</span></div></li>
            <li class="ec__item">Неопределенных: <div class="percent percent-uncertain">12% <span class="count">(111)</span></div></li>
        </ul>
    </div>
    <ul class="list">
        <li class="list__item">
            <div class="comment">
                <div class="list__author">user1822</div>
                <p class="list__text">Закончила физический факультет ТГУ и осталась весьма довольна уровнем образования полученным в вузе. По-моему, те кто дают отрицательные отзывы - всегда чем-то не довольны. Если нормально учиться и самим стремиться достигать поставленных целей, а не ждать чуда, то ТГУ дает именно те навыки, которые остаются востребованными на протяжении всей жизни.</p>
                <a href="" class="list__link">Ссылка на источник</a>
            </div>
            <div class="coloring">
                <div class="coloring__main">
                    <div class="plus"></div>
                </div>
                <div class="other">
                    <div class="other__item"><div class="minus"></div></div>
                    <div class="other__item"><div class="mult"></div></div>
                    <div class="other__item"><div class="hooks"></div></div>
                </div>
            </div>

        </li>
        <li class="list__item">
            <div class="comment">
                <div class="list__author">gitara_01</div>
                <p class="list__text">Наука на высшем уровне, а административный аппарат ничего не делает при этом.</p>
                <a href="" class="list__link">Ссылка на источник</a>
            </div>
            <div class="coloring">
                <div class="coloring__main">
                    <div class="minus"></div>
                </div>
                <div class="other">
                    <div class="other__item"><div class="plus"></div></div>
                    <div class="other__item"><div class="mult"></div></div>
                    <div class="other__item"><div class="hooks"></div></div>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="comment">
                <div class="list__author">anonim_lazarev_artem</div>
                <p class="list__text">Университет, безусловно, заслуживает достойное место среди российских ВУЗов. Кадровый состав на очень высоком уровне. 

                    Но функция студенческого профкома остается не ясна. Знаю много случаев, когда деканатом или факультетом нарушались права студентов, студенты шли жаловаться в профком, то там просто разводили руками и отсылали обратно в деканат. Профсоюз должен защищать права студентов, но по факту это ограниченное увеселительно-развлекательное отделение при университете. И тут как-то не очень весело! Подумайте, прежде чем становиться членом профкома студентов.</p>
                <a href="" class="list__link">Ссылка на источник</a>
            </div>
            <div class="coloring">
                <div class="coloring__main">
                    <div class="mult"></div>
                </div>
                <div class="other">
                    <div class="other__item"><div class="plus"></div></div>
                    <div class="other__item"><div class="minus"></div></div>
                    <div class="other__item"><div class="hooks"></div></div>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="comment">
                <div class="list__author">mr_marmelad</div>
                <p class="list__text">ТГУ - ведущий российский вуз. Выпускники нашего университета конкурентоспособны на рынке труда, обладают комплексным взглядом на мир, всесторонне развиты (что ни говори - классическое образование).</p>
                <a href="" class="list__link">Ссылка на источник</a>
            </div>
            <div class="coloring">
                <div class="coloring__main">
                    <div class="plus"></div>
                </div>
                <div class="other">
                    <div class="other__item"><div class="minus"></div></div>
                    <div class="other__item"><div class="mult"></div></div>
                    <div class="other__item"><div class="hooks"></div></div>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="comment">
                <div class="list__author">intrigant</div>
                <p class="list__text">По техническому обеспечению - есть проблемы с лицензионным софтом, на этом обычно экономят, почем там где нельзя - на физ- мат факультетах.</p>
                <a href="" class="list__link">Ссылка на источник</a>
            </div>
            <div class="coloring">
                <div class="coloring__main">
                    <div class="hooks"></div>
                </div>
                <div class="other">
                    <div class="other__item"><div class="plus"></div></div>
                    <div class="other__item"><div class="minus"></div></div>
                    <div class="other__item"><div class="mult"></div></div>
                </div>
            </div>
        </li>
        <li class="list__item">
            <div class="comment">
                <div class="list__author">bananchik</div>
                <p class="list__text">До Политеха всё никак не дотянет!</p>
                <a href="" class="list__link">Ссылка на источник</a>
            </div>
            <div class="coloring">
                <div class="coloring__main">
                    <div class="minus"></div>
                </div>
                <div class="other">
                    <div class="other__item"><div class="plus"></div></div>
                    <div class="other__item"><div class="mult"></div></div>
                    <div class="other__item"><div class="hooks"></div></div>
                </div>
            </div>
        </li>
    </ul>
    <div class="footer-buttons">
        <div class="fbutton export">Экспорт в файл</div>
        <a href="index3.html" class="fbutton again">Начать заново</a>
    </div>
</div>
<div class="arrow">
    <img src="../img/left.png" alt="">
</div>
<div class="right-part">
    <form class="filters" action="">
        <div class="filters__title">Фильтры</div>
        <div class="filters__item audience">
            <h3 class="title">Целевая аудитория</h3>
            <div class="aud__checkboxes dropdown">
                <div class="audience__checkbox">
                    <input type="checkbox" id="employees" name="employee">
                    <label for="employees">Сотрудники</label>
                </div>
                <div class="audience__checkbox">
                    <input type="checkbox" id="students" name="student">  <label for="students">Студенты</label>
                </div>
                <div class="audience__checkbox">
                    <input type="checkbox" id="abiturients" name="abiturient">
                    <label for="abiturients">Абитуриенты</label>  
                </div>
                <div class="audience__checkbox">
                    <input type="checkbox" id="graduates" name="graduate"> <label for="graduates">Выпускники</label> 
                </div>
                <div class="audience__checkbox">
                    <input type="checkbox" id="employers" name="employer"> <label for="employers">Работодатели</label> 
                </div>
            </div>
        </div>
        <div class="filters__item nickname">
            <h3 class="title">Никнейм</h3>
            <input class="dropdown" type="text" placeholder="Никнейм">
        </div>
        <div class="filters__item emotions" name="uncertain">
            <h3 class="title">Эмоциональная окраска</h3>
            <div class="em__checkboxes dropdown">
                <div class="emotions__checkbox">
                    <input type="checkbox" id="positive" name="positive">  
                    <label for="positive">Позитивная (+)</label>
                </div>
                <div class="emotions__checkbox">
                    <input type="checkbox" id="negative" name="negative">  
                    <label for="negative">Негативная (-)</label>
                </div>
                <div class="emotions__checkbox">
                    <input type="checkbox" id="neutral" name="neutral"> 
                    <label for="neutral">Нейтральная (*)</label> 
                </div>
                <div class="emotions__checkbox">
                    <input type="checkbox" id="uncertain" name="uncertain">  
                    <label for="uncertain">Не определенная (<>)</label>
                </div>
            </div>
        </div>
        <div class="filters__item keywords">
            <h3 class="title">Ключевые слова</h3>
            <input class="dropdown ss" type="text" placeholder="Ключевые слова">
        </div>
        <div class="filters__item data">
            <h3 class="title">Промежуток времени</h3>
            <div class="interval dropdown">
                <div class="from">
                    <label for="from">От: </label>
                    <input type="date" id="from" name="data" min="2017-07-20" max="2017-10-20">
                </div>
                <div class="to">
                    <label for="to">До: </label>
                    <input type="date" id="to" name="data" min="2017-07-20" max="2017-10-20">
                </div>
            </div>
        </div>
        <div class="filters__button">
            <input type="reset" class="fil-b reset">
            <div class="fil-b submit">Принять</div>
        </div>
    </form>
</div>
</div>
</div>
</div>

